<header class="bar bar-nav">
	<h1 class="nav-title" id="logo"><img src="images/logo.png" alt="">About</h1>
</header>
<div class="content">
	<div class="wrapper padding text-center">
		This application is voluntary developed by @sunnyluthra. We are not affilated to the government in any which way.
		<br/><br/>
		Use this application to upload pictures of garbage, potholes etc. etc.
	</div>
</div>