<header class="bar bar-nav">
	<button class="btn pull-right" {{action 'getAllReports'}}>
		<i class="fa fa-refresh"></i>
	</button>
	<h1 class="nav-title" id="logo"><img src="images/logo.png" alt="">All</h1>
</header>
<div class="content">
	<div class="wrapper"> 
		<ul class="feed">
			{{#each}}
			<li>
				{{partial 'partials/report-single'}}
			</li>
			{{else}}
				{{partial 'loading'}}
			{{/each}}

		</ul>
	</div>
</div>