<header class="bar bar-nav">
	<h1 class="nav-title" id="logo"><img src="images/logo.png" alt="">Report</h1>
</header>
<div class="content">
	<div class="wrapper"> 
		<ul class="feed">
			<li>
				{{partial 'partials/report-single'}}
			</li>
	
		</ul>
	</div>
</div>